<app-header
  header="Budgets"
  buttonText="Edit Budget"
  (onAddButtonClicked)="openViewBudgetForm()"
></app-header>
<app-card-details
  [title]="budget.name"
  [amount]="budget.amount"
  [currency]="budget.currency"
  [startDate]="budget.startDate"
  [endDate]="budget.endDate"
  [progressValue]="(budget.totalSpent / budget.amount) * 100"
  [spent]="budget.totalSpent"
  [remaining]="budget.amount - budget.totalSpent"
  [isActive]="true"
  variant="hero"
  (onViewButtonClicked)="openViewBudgetForm()">
</app-card-details>
