.expenses-container {
  padding: 1.25rem;
}

mat-expansion-panel {
  background: #fff8e1;
  margin-block-end: 0.5rem;
  border-inline-start: 0.25rem solid #d84315;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-block: 1.25rem;
}

.mat-button-toggle-group {
  margin-inline-start: 3rem;
}
