<mat-card class="budget__container">
  <div class="budget__header">
    <mat-card-title>💰 Budgets</mat-card-title>
    <button
      mat-raised-button
      color="primary"
      id="add-btn"
      (click)="openAddBudgetForm()"
    >
      <mat-icon>add_circle</mat-icon>
      Add Budget
    </button>
  </div>

  @if (!isLoading && activeBudgets.length > 0) {

    <div class="budget__hero-container">

      @if (activeBudgets.length === 1) {
        <div class="hero-budget-grid">
          <app-card-details
            [title]="activeBudgets[0].name"
            [amount]="activeBudgets[0].amount"
            [currency]="activeBudgets[0].currency"
            [startDate]="activeBudgets[0].startDate"
            [endDate]="activeBudgets[0].endDate"
            [progressValue]="(activeBudgets[0].totalSpent / activeBudgets[0].amount) * 100"
            [spent]="activeBudgets[0].totalSpent"
            [remaining]="activeBudgets[0].amount - activeBudgets[0].totalSpent"
            [isActive]="true"
            variant="hero"
          />
        </div>
      }
    
      @if (activeBudgets.length > 1) {
        <mat-tab-group>
          @for (budget of activeBudgets; track budget._id) {
            <mat-tab [label]="budget.name">
              <div class="hero-budget-tab">
                <app-card-details
                  [title]="budget.name"
                  [amount]="budget.amount"
                  [currency]="budget.currency"
                  [startDate]="budget.startDate"
                  [endDate]="budget.endDate"
                  [progressValue]="(budget.totalSpent / budget.amount) * 100"
                  [spent]="budget.totalSpent"
                  [remaining]="budget.amount - budget.totalSpent"
                  [isActive]="true"
                  variant="hero"
                />
              </div>
            </mat-tab>
          }
        </mat-tab-group>
      }
    
    </div>
    
  } @if (!isLoading && inactiveBudgets.length > 0) {

  <div class="budget__card__container">
    <div class="budget__card__grid">
      @for (budget of inactiveBudgets; track budget._id) {
      <app-card-details
        [title]="budget.name"
        [amount]="budget.amount"
        [currency]="budget.currency"
        [startDate]="budget.startDate"
        [endDate]="budget.endDate"
        [progressValue]="(budget.totalSpent / budget.amount) * 100"
        [spent]="budget.totalSpent"
        [remaining]="budget.amount - budget.totalSpent"
        [isActive]="budget.isActive"
        buttonText="View Details"
      ></app-card-details>
      }
    </div>
  </div>
  }
</mat-card>
