<mat-card class="budget__container">
  <div class="budget__header">
    <mat-card-title>💰 Budgets</mat-card-title>
    <button mat-raised-button color="primary" id="add-btn" (click)="openAddBudgetForm()">
      <mat-icon>add_circle</mat-icon>
      Add Budget
    </button>
  </div>

  <div *ngIf="!isLoading && budgets.length === 0" class="empty-message">
    No budgets available.
  </div>

  <div *ngIf="!isLoading && budgets.length > 0" class="budget__card__container">
    <div class="budget__card__grid">
      @for (budget of budgets; track budget._id) {
        <mat-card class="budget__card">
          <mat-card-header>
            <div class="budget__card-stamp">
              <span class="budget__card-stamp__text">{{ budget.isActive ? 'VALID' : 'EXPIRED' }}</span>
            </div>
            <mat-card-title>
              <span class="budget__card-amount">{{ budget.amount | currency }}</span>
            </mat-card-title>
            <mat-card-subtitle>
              <span class="budget__card-date">
                {{ budget.startDate | date:'MMM d, yyyy' }} - 
                {{ budget.endDate | date:'MMM d, yyyy' }}
              </span>
            </mat-card-subtitle>
          </mat-card-header>
  
          <mat-card-content>
            <mat-progress-bar
              mode="determinate"
              [value]="(budget.totalSpent / budget.amount) * 100"
            ></mat-progress-bar>
            <p class="budget__card-details">
              <span class="spent">Spent: {{ budget.totalSpent | currency }}</span>
              <span class="remaining"
                >Remaining: {{ budget.amount - budget.totalSpent | currency }}</span
              >
            </p>
          </mat-card-content>
  
          <mat-card-actions align="end">
            <button mat-button class="budget__card-view">View Details</button>
          </mat-card-actions>
        </mat-card>
      }
    </div>
  </div>
  
</mat-card>
