<form [formGroup]="form" class="form-single-column">
  <mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      @for (category of (categories$ | async); track category.id) {
      <mat-option [value]="category.id">{{ category.name }}</mat-option>
      }
    </mat-select>
    <mat-error>
      {{ form.get("description") | errorMessage : "Category" }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" />
    <mat-error>
      {{ form.get("description") | errorMessage : "Description" }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput formControlName="amount" />
    <mat-error>
      {{ form.get("description") | errorMessage : "Amount" }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Budget</mat-label>
    <mat-select formControlName="budgetId">
      @for (budget of (budget$ | async); track budget._id) {
      <mat-option [value]="budget._id">{{ budget.name }}</mat-option>
      }
    </mat-select>
    <mat-error>
      {{ form.get("description") | errorMessage : "Budget" }}
    </mat-error>
  </mat-form-field>

  <ng-container formGroupName="location" class="form-single-column">
    <mat-form-field appearance="outline">
      <mat-label>Country</mat-label>
      <input
        #countryInput
        type="text"
        matInput
        [matAutocomplete]="countryAuto"
        formControlName="country"
        (input)="onCountryInput(countryInput.value)"
        aria-label="Country"
        [attr.aria-busy]="loadingCountries"
      />
      <mat-autocomplete
        #countryAuto="matAutocomplete"
        (optionSelected)="onCountrySelected($event.option.value)"
      >
        <mat-option *ngIf="loadingCountries" disabled>
          Loading countries...
        </mat-option>
        <mat-option
          *ngFor="let country of filteredCountryOptions"
          [value]="country.name"
        >
          {{ country.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error>
        {{ form.get("description") | errorMessage : "Country" }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input
        #cityInput
        type="text"
        matInput
        [matAutocomplete]="cityAuto"
        formControlName="city"
        (input)="onCityInput(cityInput.value)"
        aria-label="City"
        [attr.aria-busy]="loadingCities"
      />
      <mat-autocomplete
        #cityAuto="matAutocomplete"
        (optionSelected)="onCitySelected($event.option.value)"
      >
        <mat-option *ngIf="loadingCities" disabled>
          Loading cities...
        </mat-option>
        <mat-option *ngFor="let city of filteredCityOptions" [value]="city">
          {{ city }}
        </mat-option>
      </mat-autocomplete>
      <mat-error>
        {{ form.get("description") | errorMessage : "City" }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Name of Location</mat-label>
      <input matInput formControlName="name" />
      <mat-error>
        {{ form.get("description") | errorMessage : "Name of location" }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Address of Location (optional)</mat-label>
      <input matInput formControlName="address" />
      <mat-error>
        {{ form.get("description") | errorMessage : "Address" }}
      </mat-error>
    </mat-form-field>
  </ng-container>

  <mat-form-field appearance="outline">
    <mat-label>Currency</mat-label>
    <mat-select formControlName="currency">
      <mat-optgroup label="Default Currency">
        <mat-option [value]="(defaultCurrency$ | async)?.code">
          {{ (defaultCurrency$ | async)?.code }}
        </mat-option>
      </mat-optgroup>
      @if (currenciesOfSelectedCountry.length > 0) {
      <mat-optgroup label="Currency of Selected Country">
        @for (currency of currenciesOfSelectedCountry; track currency) {
        <mat-option [value]="currency">{{ currency }}</mat-option>
        }
      </mat-optgroup>
      }
      <mat-optgroup label="All Currencies">
        @for (currency of currencies$ | async; track currency.code) {
        <mat-option [value]="currency.code">{{ currency.code }}</mat-option>
        }
      </mat-optgroup>
    </mat-select>
    <mat-error>
      {{ form.get("description") | errorMessage : "Currency" }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker1" formControlName="date" />
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
    <mat-error>
      {{ form.get("description") | errorMessage : "Date" }}
    </mat-error>
  </mat-form-field>

  <div class="form-actions">
    <button mat-raised-button color="primary" type="submit">Submit</button>
    <button mat-raised-button color="warn" type="button" (click)="resetForm()">
      Reset
    </button>
  </div>
</form>
