@use "@angular/material" as mat;

@include mat.core();

// 🎨 Define the color palette
$passport-primary: mat.m2-define-palette(
  mat.$m2-brown-palette,
  900
); // Passport Cover
$passport-accent: mat.m2-define-palette(
  mat.$m2-deep-orange-palette,
  A700
); // Visa Stamps
$passport-warn: mat.m2-define-palette(
  mat.$m2-red-palette,
  800
); // Error messages

// 🌍 Define the theme using the custom colors
$passport-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $passport-primary,
      accent: $passport-accent,
      warn: $passport-warn,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

// 🖌 Apply the theme
@include mat.all-component-themes($passport-theme);

// 🌟 Global Styles
body {
  background-color: #fff8e1;
  color: #212121;
  margin: 0;
  font-family: "Inter", sans-serif;
}

// Custom Border Styles (Stamped Edge Effect)
.mat-card {
  border: 2px solid #795548; // Stamped Edge
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

// Buttons with Stamp Effect
.mat-raised-button {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
}

// Headings in Passport Font
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

mat-form-field .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mat-button-toggle {
  border-radius: 0.5rem;
  background: #f4f1ea;
  color: #2c3e50;
  font-family: "Courier New", monospace;
  box-shadow: 0.25rem rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.mat-button-toggle-checked {
  background: #2c3e50 !important;
  color: #fff !important;

  .mat-button-toggle-checkbox-wrapper {
    display: none;
  }
  .mat-button-toggle-button:has(.mat-button-toggle-checkbox-wrapper) {
    padding: 0 !important;
  }
}
