.dashboard {
  &__card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    margin-block-end: 2rem;
  }

  &__body-top-row {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 1rem;
  }

  &__header {
    margin-block: 1rem;
  }
}

.trip {
  &__card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid #42a2da;
    border-radius: 0.75rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-block-start: 1.25rem;
    padding-inline-start: 0.5rem;

    &--section {
      display: flex;
      justify-content: space-between;
      width: 80%;
    }
  }

  &__recent-expenses {
    margin-block-start: 1.5rem;
    width: 80%;
    &--card {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-block-start: 1rem;
      padding: 1rem;
      border-radius: 0.5rem;
    }
  }

  background-color: #ffe0b2;
  color: #da9d42;
}

.upcoming {
  &__card {
    display: flex;
    gap: 1rem;
    align-items: center;
    &--container {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 1rem;
      gap: 1rem;
      border-radius: 0.75rem;
      border: 2px solid #42a2da;
    }
  }
}

.expense {
  display: flex;
  justify-content: space-between;
  &__desc {
    display: flex;
    flex-direction: column;
  }
}

.card {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1rem;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  padding: 0.75rem;
  border-radius: 1rem;
}

.budget-active {
  background-color: #ffb5b5;
  color: #eb3939;
}

.budget-total {
  background-color: #d1fdc6;
  color: #39ad1b;
}
.budget-spent {
  background-color: #b2dcff;
  color: #42a2da;
}
.budget-remaining {
  background-color: #ffb2df;
  color: #da42b4;
}

.suggestions__card {
  display: flex;
  margin-block-start: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.dashboard__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}
