<app-header header="Dashboard"></app-header>
<div class="container">
  <div class="dashboard__cards">
    <div class="card">
      <mat-icon class="icon trip">flight</mat-icon>
      <section class="card__info">
        <span class="subtitle">Total Trips</span>
        <span class="title">{{ trips.length }}</span>
      </section>
    </div>
    <div class="card">
      <mat-icon class="icon budget-active">payments</mat-icon>
      <section class="card__info">
        <span class="subtitle">Active Budgets</span>
        <span class="title">{{ activeBudgets.length }}</span>
      </section>
    </div>
    <div class="card">
      <mat-icon class="icon budget-total">attach_money</mat-icon>
      <section class="card__info">
        <span class="subtitle">Total Budget Amount</span>
        <span class="title">${{ activeBudgets[0].amount }}</span>
      </section>
    </div>
    <div class="card">
      <mat-icon class="icon budget-spent">attach_money</mat-icon>
      <section class="card__info">
        <span class="subtitle">Amount Spent</span>
        <span class="title">${{ activeBudgets[0].totalSpent }}</span>
      </section>
    </div>
    <div class="card">
      <mat-icon class="icon budget-remaining">savings</mat-icon>
      <section class="card__info">
        <span class="subtitle">Remaining</span>
        <span class="title"
          >${{ activeBudgets[0].amount - activeBudgets[0].totalSpent }}</span
        >
      </section>
    </div>
  </div>
</div>
<mat-card-title>💰 Active Trips</mat-card-title>
<div class="overview">
  <div class="trip-list">
    @for (budget of activeBudgets; track budget._id) {
    <div class="hero-budget-tab">
      <app-card-details
        [title]="budget.name"
        [amount]="budget.amount"
        [currency]="budget.currency"
        [startDate]="budget.startDate"
        [endDate]="budget.endDate"
        [progressValue]="(budget.totalSpent / budget.amount) * 100"
        [spent]="budget.totalSpent"
        [remaining]="budget.amount - budget.totalSpent"
        [isActive]="true"
        variant="hero"
      />
    </div>
    }
  </div>

  <mat-card class="expenses-list">
    <mat-card-title>Recent Expenses</mat-card-title>
      <mat-list>
        @for (expense of recentExpenses; track expense._id) {
        <mat-list-item class="expenses-list-item">
          <span
            >{{ expense.description }}:
            {{ expense.amount | currency : expense.currency }}</span
          >
          <span class="subtitle">{{ expense.category | categoryMap }}</span>
        </mat-list-item>
        }
      </mat-list>
  </mat-card>
</div>

<!-- <div class="container">
  <div class="container__top-row">
    <mat-card class="trip-overview">
      <mat-card-title (click)="goToBudgets()">💰 Budget Summary</mat-card-title>
      <div class="trip-list">
        @for (budget of activeBudgets; track budget._id) {
        <div class="hero-budget-tab">
          <app-card-details
            [title]="budget.name"
            [amount]="budget.amount"
            [currency]="budget.currency"
            [startDate]="budget.startDate"
            [endDate]="budget.endDate"
            [progressValue]="(budget.totalSpent / budget.amount) * 100"
            [spent]="budget.totalSpent"
            [remaining]="budget.amount - budget.totalSpent"
            [isActive]="true"
            variant="hero"
          />
        </div>
        }
      </div>
    </mat-card>

    <mat-card class="trip-overview">
      <mat-card-title>🌍 Your Trips</mat-card-title>
      <div class="trip-list">
        <mat-card *ngFor="let trip of trips" class="trip-stamp">
          <mat-card-content>
            <h3>{{ trip.name }}</h3>
            <p>Spent: {{ trip.spent | currency : trip.currency }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card>
  </div>

  <div class="container__bottom-row">

    <mat-card class="currency-exchange">
      <mat-card-title>💱 Currency Exchange</mat-card-title>
      <p>
        1 {{ exchangeData.from }} = {{ exchangeData.rate }}
        {{ exchangeData.to }}
      </p>
    </mat-card>

    <mat-card class="category-breakdown">
      <mat-card-title>🔍 Category Breakdown</mat-card-title>
      <ng-container *ngIf="categoryBreakdown">
        <div *ngFor="let category of categoryBreakdown">
          <p>{{ category.name }}: {{ category.amount | currency }}</p>
        </div>
      </ng-container>
    </mat-card>
  </div>
</div> -->
