// .container {
//   &__top-row {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: 1.25rem;
//     padding: 1.25rem;
//     justify-content: center;
//   }

//   &__bottom-row {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     gap: 1.25rem;
//     padding: 1.25rem;
//     justify-content: center;
//   }
// }

// .budget-overview,
// .trip-overview {
//   grid-column: span 1;
//   width: 100%;
//   padding: 1.5rem;
//   border-radius: 0.5rem;
// }

// .expenses-overview,
// .currency-exchange,
// .category-breakdown {
//   grid-column: span 1.5;
//   width: 100%;
//   padding: 1.5rem;
//   border-radius: 0.5rem;
// }

// .budget {
//   &-overview {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     text-align: center;
//   }

//   &-circle {
//     position: relative;
//     width: 12rem;
//     height: 12rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 1.5rem;
//   }

//   &-text {
//     position: absolute;
//     text-align: center;
//     font-family: "Playfair Display", serif;
//     color: #3e2723;
//   }
// }

// .mat-mdc-card-title {
//   font-family: "Inter", serif;
//   font-weight: 500;
//   color: #3e2723;
// }

.trip-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.expenses-list {
  padding: 0.75rem;
  flex: 1;

  &-item .mdc-list-item__content .mdc-list-item__primary-text {
    display: flex;
    flex-direction: column;
  }
}

.overview {
  margin-block-start: 1rem;
  display: flex;
}

.dashboard__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
}

.card {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  &__info {
    display: flex;
    flex-direction: column;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  padding: 0.75rem;
  border-radius: 1rem;
}

.trip {
  background-color: #ffe0b2;
  color: #da9d42;
}

.budget-active {
  background-color: #ffb5b5;
  color: #eb3939;
}

.budget-total {
  background-color: #d1fdc6;
  color: #39ad1b;
}
.budget-spent {
  background-color: #b2dcff;
  color: #42a2da;
}
.budget-remaining {
  background-color: #ffb2df;
  color: #da42b4;
}
